Generate an image of the following item or scenery:
{{ object_description }}

The image must match the visual style and atmosphere of the "{{ channel.name }}" universe.
World styling details: {{ channel.video_settings.world_style }}
Style Suffix: {{ channel.video_settings.style_suffix }}
